body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f8f9fa;
}

.navbar h1 {
  margin: 0;
}

.navbar .exit-btn {
  background: none;
  border: 1px solid #dc3545;
  padding: 10px 20px;
  color: #dc3545;
  cursor: pointer;
}

.welcome-container,
.quiz-container,
.result-container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.brand {
  color: #e83e8c;
}

button {
  padding: 10px 20px;
  background-color: #e83e8c;
  color: white;
  border: none;
  cursor: pointer;
}

.options label {
  display: block;
  margin-bottom: 10px;
}

.options input[type='radio'] {
  margin-right: 10px;
}
